/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    border:3px dashed #018ce9;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}


h2 {
    text-decoration: 2px #018ce9 double underline;
    text-align: center;
    color: black;
}

fieldset {
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #018ce9;
}

legend {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: black;
    font-weight: bold;
    text-align: center;
    color: white;
}

label {
    display: block;
    margin-top: 10px;
    color: white;
    font-weight: bolder;
}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    border: 2px dashed black;
    display: block;
    width: 100%;
    background-color: #018ce9;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(175, 170, 170);
}

#resume-display {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 3px dashed #018ce9;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /*Making the resume editable*/
    outline: none;
}

#resume-display h2 {
    color: black;
}